@charset "UTF-8";
/*
//  front.css
//  TimeRecorder
//
//  Created by 1024jp on 2014-01-15
//  © 2014 1024jp
//  This program is licensed under the MIT license. See file LICENSE for details.
*/

dt {
	font-weight: normal;
}
dd {
	font-size: 95%;
}

aside {
	font-size: 90%;
	
	border: 1px solid hsla(0,0%,0%,.2);
	border-radius: 6px;
	padding: 10px 12px;
	width: 40%;
	float: right;
}
aside h2 {
	color: hsl(0,0%,25%);
	font-size: 105%;
	margin:0 0 0.2em;
}
aside section+section {
	margin-top: 1em;
}
