@charset "UTF-8";
/*
//  help.css
//  TimeRecorder
//
//  Created by 1024jp on 2014-01-05.
//  © 2014-2022 1024jp
//  This program is licensed under the MIT license. See file LICENSE for details.
*/

:root {
	-webkit-text-size-adjust: 100%;
	font: 13px/1.6 -apple-system, sans-serif;
	font-weight: 400;
	color: -apple-system-label;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
ul {
	list-style: none;
}
ol {
	margin-left:2em;
}
li+li {
	margin-top: 0.2em;
}
dt {
	font-weight: bold;
	margin: 1em 0 0.2em;
}
body {
	padding: 10px 15px;
}
p {
	line-height: 1.8;
	margin: 1em 0;
}

a:link,
a:visited {
	color: hsl(206,80%,40%);
}
a:hover {
	text-decoration: underline;
}

h1 {
	font-family: -apple-system-headline, sans-serif;
	font-size: 1.71rem;
	line-height: 1.0;
	font-weight: 400;
	margin: 1.5em 0;
}
h1:before {
	content: '';
	background: url(helpbookicon@2x.png);
	background-size: contain;
	display: inline-block;
	width: 32px;
	height: 32px;
	vertical-align: -8px;
	margin-right: 8px;
}
